<div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    {{#link-to 'dashboard.index'}}<a>Home</a>{{/link-to}}
                </li>
                <li>
                    {{#link-to 'dashboard.statistics'}}<a href="#">Reading Statistics</a>{{/link-to}}
                </li>
                <li>
                    {{#link-to 'dashboard.reading'}}<a>Reading</a>{{/link-to}}
                </li>
                <li>
                    {{#link-to 'dashboard.profile'}}<a href="#">Profile</a>{{/link-to}}
                </li>
                <li>
                      {{#link-to 'dashboard.help'}}<a href="#">Help</a>{{/link-to}}
                </li>
                <li>
                    {{#link-to 'dashboard.bug'}}<a href="#">Bug Reports</a>{{/link-to}}
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
</div>
