<!-- Indicators -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://garypunch.com/wp-content/uploads/2016/03/banner-books.jpg" alt="" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
            {{#link-to 'about' }}<button class="btn btn-default orange-circle-button" href="">How<br />Does It Work ?<br /></button>{{/link-to}}
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
<!--
  <a class="left carousel-control" href="" data-slide="prev">
 <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="" data-slide="next">
   <span class="icon-next"></span>
  </a>
-->
