<center>
<h3>Book Reserve</h3>
<hr>
<div class="col-md-12">
  <div class="col-md-12">
   <div class="well">
     <h4>Book Name</h4>
     {{book.title}}
   </div>
   </div>
  </div>
  <div class="col-md-12">
    <div class="well">
      <h4>Author</h4>
      {{book.author}}
    </div>
  </div>
  <div class="col-md-12">
    <div class="well">
      <h4>Summary</h4>
      {{book.summary}}
    </div>
  </div>
  <div class="col-md-12">
    <div class="well">
      <h4>Cover Picture</h4>
      <img src="{{book.image}}" style="width:70px;height:80px;" />
    </div>
  </div>

</center>
