<div class="well"><h2 class="sub-header">Bug Reports</h2></div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Bug Name</th>
      <th>Type</th>
      <th>Bug about</th>
      <th>Bug complited</th>
      <th style="width: 36px;"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><img src="" style="width:20px;height:20px;" /></td>
      <td><button class="btn btn-info">Resolved</button></td>
      {{#link-to "reserve.show" book}}{{book.id}}{{/link-to}}
    </tr>
  </tbody>
</table>
{{outlet}}
